{% extends 'base.html.twig' %}
{% block body %}
    <div class="card-group">
        <div class="card">
            <img class="card-img-top" src="{{ asset('images/forum.png') }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Suggestions</h5>
                <p class="card-text">Avez-vous des suggestions ? vous êtes au bon endroit !</p>

            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="{{ asset('images/ampoule.jpg') }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Contribution</h5>
                <p class="card-text">Vos points de vue et commentaires sur les articles sont les bienvenus.</p>

            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="{{ asset('images/question.jpg') }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Questions</h5>
                <p class="card-text">Vous avez des questions ? vous êtes au bon endroit !</p>

            </div>
        </div>
    </div>

    <br>
    <div class="container">
        <center>
            <h1>Hello Bienvenu(e) sur notre Forum !</h1>
            <br>

            <div class="card-group">
                <div class="card">
                    <img src="{{ asset('images/login1.jpg') }}" class="card-img-top" alt="..." width="">
                    <div class="card-body">
                        <h5 class="card-title"><a href="login">Vous connecter</a></h5>
                        <p class="card-text">Si vous disposez déjà d'un compte bien vouloir vous connecter pour rejoindre le Forum.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted"></small>
                    </div>
                </div>
                <div class="card">
                    <img src="{{ asset('images/signin.jpg') }}" class="card-img-top" alt="..." width="">
                    <div class="card-body">
                        <h5 class="card-title"> <a href="register"> Vous inscrire</a></h5>
                        <p class="card-text">Pas encore de comte ? Enregistrez vous !</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted"></small>
                    </div>
                </div>

            </div>
        </center>
    </div>
    <br><br>
{% endblock %}





